*{
  margin: 0;
}
body{
  background-color: rgb(228, 228, 228);
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
.app__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;;
}
.app__stats{
  display: flex;
  justify-content: space-evenly;
}
.app__left{
  flex: 0.9;
}
.today{
  padding: 20px;
}
@media (max-width: 990px){
  .app{
    flex-direction: column;
  }
}
